body {
  background-image: linear-gradient(to bottom right, #13BF9D, #ffffff);
}

h1 {
  color: #3374FF;
  margin-left: 20px;
   text-shadow: 2px 2px;
}

 #something{
border-radius: 25px;
  width: 300px;
  border: 15px solid #6426F1;
  padding: 50px;
  margin: 20px;
  color: #C8C8C8;
}

#somethingelse{
 width: 300px;
 border: 15px solid #6426F1;
 padding: 50px;
 margin: 20px;
 color: #43686D;
}
