body {
  background-color: #0AAB7C;
}

h1 {
  color: #3374FF;
  margin-left: 20px;
}

 #something{
  width: 300px;
  border: 15px solid #6426F1;
  padding: 50px;
  margin: 20px;
  color: #C8C8C8;
}

#somethingelse{
 width: 300px;
 border: 15px solid #6426F1;
 padding: 50px;
 margin: 20px;
 color: #43686D;
}
